/*复位样式*/

body,
a,
textarea,
input {
    font-family: SourceHanSans, Microsoft YaHei, "宋体", Verdana, Geneva, sans-serif;
}

html,
body，div,
dl,
dt,
dd,
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
th,
td,
hr,
blockquote {
    padding: 0px;
    margin: 0px;
    list-style: none
}

body {
    padding: 0px;
    margin: 0px
}

html,
body {
    font-size: 18px;
    color: #fff;
    width: 100%;
    height: 100%
}

img {
    border: 0;
    display: block;
}

a {
    text-decoration: none;
    color: #fff
}




/*公共样式*/

.container {
    width: 1100px;
    margin: 0 auto;
}

.main .title {
    overflow: hidden;
    padding-left: 45px;
}

.main .title .big {
    width: 73px;
    height: 73px;
    display: block;
    text-align: center;
    line-height: 73px;
    float: left;
    font-size: 48px;
    background: url("../images/title_bg.png") no-repeat center;
    background-size: 100%;
    color: #F76F7B;
    animation: title-big 1s both linear 1.5s;
}

.main .title h1 {
    float: left;
    font-size: 34px;
    font-weight: normal;
    margin-left: 10px;
    animation: main-h1 1s both linear 2.3s; 
}

.main .line {
    width: 1px;
    height: 1px;
    background: #fff;
    margin-bottom: 10px;
    margin-left: 45px;
    margin-top: 10px;
    animation: main-line 2s both linear 1.5s;
}

.main h2 {
    padding-left: 45px;
    font-size: 26px;
    font-weight: normal;
}

.main p {
    text-align: right;
}



/*工具箱*/

.LF {
    float: left;
}

.RF {
    float: right;
}

.clear {
    clear: both;
}




/*nav*/

.nav {
    padding-top: 18px;
    overflow: hidden;
    position: fixed;
    left: 50%;
    margin-left: -550px
}

.nav .logo {
    width: 110px;
    height: 60px;
}

.nav .list {
    font-size: 16px;
    margin-top: 20px;
}

.nav .list li+li {
    margin-left: 40px
}




/*page01*/

.page01 {
    width: 100%;
    min-height: 100%;
    background: #657faf;
}

.page01 .container.box {
    overflow: hidden;
    position: relative;
    padding-top: 60px;
}

.page01 .left {
    width: 380px;
    text-align: center;
    position: absolute;
    top: 50%;
}

.page01 .left img {
    width: 60px;
    margin: auto
}

.page01 .right {
    width: 720px;
    height: 540px;
    background: url("../images/p1.png") no-repeat;
    position: relative;
}

.page01 .right div {
    position: absolute;
}

.page01 .right .p1-1 {
    left: 99px;
    top: 191px;
    animation: p1-1 2s linear infinite;
}

.page01 .right .p1-2 {
    left: 16px;
    top: 83px;
}

.page01 .right .p1-3 {
    left: 41px;
    top: 100px;
    animation: p1-3 2s linear infinite;
}

.page01 .right .p1-4 {
    left: 155px;
    opacity: 0;
    top: 14px;
    animation: p1-4 4s linear infinite 2s;
}

.page01 .right .p1-5 {
    left: 79px;
    top: 47px;
    animation: p1-5 4s linear both infinite 2s;
}

.page01 .right .p1-6 {
    width: 100px;
    height: 38px;
    background: url('../images/p1-6.png');
    left: 142px;
    top: 99px;
    animation: p1-6 2s linear infinite;
}

.page01 .right .p1-7-move {
    animation: p1-7-move 5s linear both infinite 4s;
}

.page01 .right .p1-7-jump {
    width: 29px;
    height: 51px;
    z-index: 2;
    background: url('../images/p1-7.png');
    left: 148px;
    top: 68px;
    animation: p1-7-jump 1s step-start infinite 4s;
}

.page01 .right .p2-1 {
    z-index: 2;
    left: 291px;
    top: 15px;
}

.page01 .right .p2-2 {
    z-index: 1;
    left: 262px;
    top: 16px;
    animation: p2-2 4s linear infinite;
}

.page01 .right .p2-3 {
    left: 305px;
    top: 68px;
}

.page01 .right .p2-3 ul li {
    font-size: 14px;
    text-align: center;
    opacity: 0;
    float: left;
    width: 54px;
    height: 24px;
    padding-right: 4px;
    line-height: 22px;
    color: #F2F2F2;
    background: url(../images/p2-4.png) no-repeat center;
    text-align: center;
    margin: 0 5px 5px;
}

.page01 .right .p2-3 ul .active {
    background: url(../images/p2-3.png) no-repeat center;
    padding-left: 4px;
    margin-left: -4px;
    margin-right: 10px;
}

.page01 .right .p2-3 ul li:nth-child(3n+1) {
    animation: fadeIn 1.5s ease-in-out both 5s;
}

.page01 .right .p2-3 ul li:nth-child(3n) {
    animation: fadeIn 1.5s ease-in-out both 6.5s;
}

.page01 .right .p2-3 ul li:nth-child(3n+2) {
    animation: fadeIn 1.5s ease-in-out both 8s;
}

.page01 .right .p2-5 {
    width: 22px;
    height: 18px;
    left: 445px;
    top: 139px;
    background: url("../images/p2-5.png");
    animation: p2-5 0.5s ease-in-out both infinite;
}

.page01 .right .p3-2 {
    width: 248px;
    height: 248px;
    left: 0px;
    top: 281px;
    background: url(../images/p3-2.png) no-repeat center;
    animation: p3-2 3s linear infinite;
}

.page01 .right .p3-8 {
    position: absolute;
    background: url(../images/p3-8.png) no-repeat center;
    width: 216px;
    height: 133px;
    left: 13px;
    top: 351px;
}

.page01 .right .p2-1.small1 {
    position: absolute;
    left: 162px;
    top: 319px;
}

.page01 .right .p2-1.small2 {
    position: absolute;
    left: 62px;
    top: 339px;
}


/*page02*/

.page02 {
    width: 100%;
    min-height: 100%;
    background: #F8707B;
}

.page02 .container {
    padding-top: 135px;
}

.page02 .container .left {
    width: 470px;
    margin-top: 90px;
    margin-left: 45px;
}

.page02 .container .left p {
    margin-top: 70px
}

.page02 .container .right {
    width: 500px;
    height: 500px;
    background: url("../images/p2.png") no-repeat;
}

.page02 .main .move{
	animation: page03 2s linear both 1.5s;
}